*{
    padding: 0;
    margin: 0;
    max-width: 100%;
}
body{
    font-family: 'Gentium Book Plus', serif;
    width: 70%;
    margin: 0 auto;
    background-color: bisque;
}
.tapbar{
    height: 50vh;
    background: url(https://scontent.fdad5-1.fna.fbcdn.net/v/t39.30808-6/326177545_1135423533784309_7917425601198564390_n.png?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=SW5B_HabqeYAX_XaG9J&_nc_ht=scontent.fdad5-1.fna&oh=00_AfC7zbsbaZtkwMbLoPOZBiNas6BJByCAMbbHo35CHHx35A&oe=63EAD136) no-repeat center / cover;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: yellow;
}
.menu{
    background-color: bisque;
    text-align: center;
    border-radius: 10px;
    border: 0.5px solid rgb(232, 21, 21);
}
.menu>ul>li{
    display: inline-block;
    padding: 8px 10px;
    font-size: 13px;
}
.menu>ul>li>a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.menu>ul>li:hover{
    background-color: rgb(236, 131, 131);
    color: black;
}
.type{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top:10px ;
}
.menu ul ul{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}
.menu ul ul a{
    display: block;
    line-height: 30px;
    color: black;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    padding: 0 5px;
}
.menu>ul>li:hover>ul{
    display: block;
}
.menu ul ul a:hover{
    background-color: rgb(236, 131, 131);
    color: black;
}
.cochu{
    font-size: 15px;
}
.cochu {
    text-align: justify;
    background-color: rgb(224, 206, 206);
    border-radius: 5px;
    border: 1px solid red;
    margin-top: 10px;
    border-radius: 8px;
}
.cochu table, th, td {
    padding: 10px;
}
h2{
    text-align: center;
    color: RED;
}
h2:hover{
    color: purple;
}
table,th,td,image{
    text-align: center;
}
.tieude h2{
    background-color: yellow;
    
}
.anh{
    text-align: center;
    background-color: white;
    border-radius: 5px;
}
.thoikhoabieu{
    border: 1px solid red;
    border-radius: 8px;
}
.thoikhoabieu h2{
    color: red;
    background-color: yellow;
    
}
.thoikhoabieu table{
    width: 100%;
    text-align: center;
}
.thoikhoabieu h3{
    color: blue;
    margin-left: 10px;
}
.thoikhoabieu h3:hover{
    color: red;
}
.internet{
    border-radius: 8px;
    background-color: rgb(224, 206, 206) ;
    border: 1px solid red;
    margin-top: 10px;
    padding: 10px;
}
.internet img{
    width: 300px;
    height: 150px;
}
.internet table tr td h3{
    text-align: left;
}
.internet table tr td p{
    text-align: left;
    color: blue;
}    
.internet table tr td p:hover{
    color: red;
}
.internet h3{
    color: red;
}
.next {
    line-height: 50px;
    height: 50px;
    text-align: center;
}
.next .one{
    font-weight: bold;
    color: black;
}
.next .two{
    color: gray;
}
.next a{
    text-decoration: none;
    padding: 10px;
}
.next .one:hover{
    color: red;
    transition: 0.5s;
}
.tainguyenmoi{
    border-radius: 8px;
    background-color: rgb(224, 206, 206) ;
    border: 1px solid red;
    margin-top: 10px;
    padding: 10px;
}
.tainguyenmoi h3{
    color: red;
}
.tainguyenmoi p{
    color: blue;
}
.tainguyenmoi p:hover{
    color: red;
}
.content{
    margin-right: 20px;

}
.bentrai  h3{
    color: red;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}
.bentrai table tr img{
    height: 50px;
    width: 100px;
}
.bentrai table tr td{
    font-size: 15px;
    text-align: left;
}
.tin  {
    border: 1px solid red;
    margin-top: 10px;
    border-radius: 8px;
    background-color: rgb(224, 206, 206);
}
.tin table tr td:hover{
    color: blue;
}
.tin table tr td img:hover{
    padding: 5px;
    border: 1px solid red;
}
.thongbao{
    border-radius: 8px;
    background-color: rgb(224, 206, 206) ;
    border: 1px solid red;
    margin-top: 10px;
    padding: 10px;
}
.thongbao  h3{
    color: red;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}
.thongbao p{
    font-size: 15px;
    text-align: left;
    padding: 10px 10px;
}
.thongbao p:hover{
    color: blue;
}
.Gallery{
    border-radius: 8px;
    border: 1px solid red;
    margin-top: 10px;
    padding: 20px;
}
.Gallery tr td img{
    object-fit: cover;
    width: 150px;
    height: 75px;
    padding: 5px;
    border: 1px solid gray;
    margin: 10px;
}
.Gallery tr td img:hover{
    padding: 8px;
    border: 1px solid red;
    transform: translate(5px,10px);
}
.giua{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.giua img{
    width: 300px;
    height: 200px;
    margin-left: 30px;
    object-fit: cover;
}
.giua p{
    font-size: 17px;
}
.giua h3{
    color: red;
    text-align: center;
}
.giua .item-1 p{
    text-align: center;
}
.giua .item{
    border: 1px solid red;
    border-radius: 8px;
}
.giua .item p{
    padding: 10px;
}
/* .footer{
    width: 100%;
    height: 100px;
    background-color: red;
    color: white;
    border: red;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
} */
.lienket{
    border-radius: 8px;
    background-color: rgb(224, 206, 206) ;
    border: 1px solid red;
    margin-top: 5px;
    padding: 10px;
}
.lienket  h3{
    color: red;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
}
.lienket p{
    font-size: 20px;
    text-align: left;
    padding: 10px 10px;
}
.lienket p:hover{
    color: blue;
}
.anh-banner img{
    width: 100%;
}
.anh-banner{
    border-radius: 8px;
    border: 1px solid red;
    margin-top: 5px;
    padding: 10px;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: red;
    color: white;
    border: red;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer h3{ 
    padding-top: 10px;
}

.iframe {

    display: block;
    margin-left: 70px;
}

